@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

@import "tailwindcss";
@import "tw-animate-css";


@theme {
  --font-allura: 'Allura', sans-serif;
  --font-eb-garamond: 'EB Garamond', serif;
  --font-passions-conflict: 'Passions Conflict', cursive;
  --font-inter: 'Inter', sans-serif;
  --font-roboto-mono: 'Roboto Mono', monospace;
  --font-cactus-classical: 'Cactus Classical Serif', serif;
  --font-oswald: 'Oswald', sans-serif;
}
html {
    scroll-behavior: smooth;
}

body {
  background: #121212;
  scroll-behavior: smooth;
  
}

